<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/style.css" rel="stylesheet" />
<title>ログイン画面 | Memberサイト</title>
</head>
<body>
	<header>
	 <h1>ログイン</h1>
	</header>

	<main>
		<form name ="loginForm" method="post" action="/membersite/login">
			<div><label>ユーザーID：</label><input type="text" name="id" pattern=^([a-zA-Z0-9]{6})$ required/></div>
			<div><label>パスワード：</label><input type="password" name="password" pattern=^([a-zA-Z0-9!-/:-@¥[-`{-~]{8,})$ required/></div>
			<div><button type="submit">ログイン</button><span id="loginErrorMessage" th:text="${loginErrorMessage}"></span></div>
			<div><a href="/membersite/user/">新規登録はこちらから</a></div>
		</form>
	</main>
</body>
</html>