<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="/style.css" rel="stylesheet" />
<title>会員画面 | Memberサイト</title>
</head>
<body>
	<main>
		<h1>ユーザー情報</h1>
		<div id="user_info">
			<div>
				<label>氏名:</label><span th:text="${user.name}"></span>
			</div>
			<div>
				<label>年齢:</label><span th:text="${user.age}">歳</span>
			</div>
			<div>
				<label>メールアドレス:</label><span th:text="${user.mailaddress}"></span>
			</div>
			<div>
				<button onclick="location.href='/membersite/logout'">ログアウト</button>
			</div>
			<div>
				<button id="deleteBotton" onclick="location.href='/membersite/delete'">退会</button>
				<span th:if="${count == 0}">退会できませんでした。</span>
			</div>
		</div>
	</main>
</body>
</html>