<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>会員画面 | Memberサイト</title>
</head>
<body>

	<!-- TODO ユーザー名を表示する -->
	<span></span>

	<h3>ユーザー情報</h3>
	<table th:each="user:${user}">
		<tr><td><label>氏名</label></td><td><span th:text="{user.name}"></span></td></tr>
		<tr><td><label>年齢</label></td><td><span></span><td></tr> 
		<tr><td><label>メールアドレス</label></td><td><span th:text="{user.mailaddress}"></span></td></tr>
		<tr><td><button onclick="location.href='/membersite/logout'">ログアウト</button></td></tr>
		<tr><td><button onclick="location.href='/membersite/delete'">退会</button></td></tr>
	</table>

    <!-- この文はDB検索がうまくいっている確認する文なので、のちに削除します -->
	<!-- <p th:text="{name}" /> -->
	
</body>
</html>